body {
	margin: 0; padding: 0;
	background: white;
	color: #333;
	font: 12px/1.5 verdana, sans-serif;
	}
	
#header {
	background: #293d91;
	position: relative;
	width: 800px;
	height: 74px;
	margin: 0 auto;
	padding: 0px 0 0 0;
	color: white;
	}
#main {
	background: #293d91;
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding: 0px 0 0 0;
	color: white;
	}
#main a {
	padding: 2px 3px;
	color: black;
	font-weight: bold;
	}
#main a:hover {
	color: white;
	}
	
img {
	max-width:600px;
	max-height:400px;
}	
#footer {
	margin: 10px 0 10px 0;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}
#footer a {
	padding: 3px 5px;
	}
	
#error-message{
	background:white;
	text-align:center;
	font-weight:bold;
	color:red;
}

#countdown-timer {
	font-weight: bold;
	font-size:14px;
	display: inline;
}

#days{
	display:inline;
}
#hours{
	display:inline;
}
#minutes{
	display:inline;
}
#seconds{
	display:inline;
}
.info {
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 0px 0 0 0;
}
.info b{
	font-style:italic;
}

.desc{
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 0px 0 0 0;
	font: 10px/1.5 verdana, sans-serif;
	text-align: center;
	border-top: 1px solid gray;
}

.desc h1{
	position:relative;
	font: 14px/1.5 verdana, sans-serif;
	font-weight:bold;
}
	
form{
	position: relative;
	margin-right: 0px;
	width: 600px;
	margin: 0 auto;
	padding: 0px 0 0 0;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
}
